<form action="#">
	<select name="type">
		<option value="type0">Type 0</option>
		<option value="type1-circle">Type 1 - Circle</option>
		<option value="type1-sphere" selected>Type 1 - Sphere</option>
		<option value="type1-disk">Type 1 - Disk</option>
	</select>
	<fw-exp-type0 hidden data-type="type0" for="{{for}}"></fw-exp-type0>
	<fw-exp-type1-circle hidden data-type="type1-circle" for="{{for}}"></fw-exp-type1-circle>
	<fw-exp-type1-sphere hidden data-type="type1-sphere" for="{{for}}"></fw-exp-type1-sphere>
	<fw-exp-type1-disk hidden data-type="type1-disk" for="{{for}}"></fw-exp-type1-disk>
	<button type="submit">Show</button>
</form>