:host {
}

form {
	margin: var(--indent-md);
}

label {
	display: block;
	color: var(--brd-color);
	margin-bottom: var(--indent-sm, 3px);
}

select {
	appearance: none;
	width: 100%;
	outline: none;
	border: none;
	box-sizing: border-box;
	color: var(--text-color);
	border-bottom: 1px solid var(--brd-color);
	font-size: var(--font-size);
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23aaaaaa%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-size: 10px 10px;
	background-position: right center;
	padding: 3px 20px 3px 3px;
	margin-bottom: var(--indent-md);

	option {
		color: #333;
		background-color: #fff;
	}
}

button {
	background: none;
	outline: none;
	color: inherit;
	padding: var(--indent-sm) var(--indent-md);
	border: 1px solid var(--brd-color);
	cursor: pointer;
	font-size: var(--font-size);

	&:hover {
		border-color: var(--txt-color);
	}

	&:active {
		background-color: var(--bg-color);
		border-color: var(--brd-color);
	}
}