<div class="random-fireworks">
	<button type="button">Random Firework</button>
</div>
<details>
	<summary>Explosions</summary>
	<fw-exp-form for="{{for}}"/>
</details>
<details>
	<summary>Rockets</summary>
	<fw-rockets-form for="{{for}}"/>
</details>
<details open>
	<summary>Output JSON</summary>
	<div class="output-json"></div>
</details>