<label>Color 1:</label>
<fw-color-picker name="color1" palette="rockets" autofill></fw-color-picker>

<label>Color 2:</label>
<fw-color-picker name="color2" palette="rockets" autofill></fw-color-picker>